
/* fa00ff
## fa00c3 e100ff */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Global Body Styles */
body {
  font-family: 'Press Start 2P';
  background-color: #121212;
  color: #ffffff;
}

p, li {
  font-family: 'ar', monospace !important; 
}



.navbar {
  background-color: #222222;  
}

.navbar__item--active {
  color: #fa00ff !important; 
}

/* Footer Styles */
footer {
  background-color: #1a1a1a;
}

footer a {
  color: #fa00ff; 
}

a:hover {
  color: #fa00ff;
  text-decoration: underline;
}

.profile {
  padding: 3rem;
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.markdown table {

  display: block;
  overflow-x: auto;
  white-space: normal;
  font-family: var(--ifm-font-family-base);
  font-size: 0.9rem;
  border-collapse: collapse;
}

.markdown table th,
.markdown table td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
  word-break: break-word;
}
